/* iCheck plugin Square skin, blue
----------------------------------- */

.icheckbox_square-blue,
.iradio_square-blue {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(/images/vendor/icheck/skins/square/blue.png?fda610caaa9939eff996f7e8f3e4cff1) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_square-blue {
  background-position: 0 0;
}

.icheckbox_square-blue.hover {
  background-position: -24px 0;
}

.icheckbox_square-blue.checked {
  background-position: -48px 0;
}

.icheckbox_square-blue.disabled {
  background-position: -72px 0;
  cursor: default;
}

.icheckbox_square-blue.checked.disabled {
  background-position: -96px 0;
}

.iradio_square-blue {
  background-position: -120px 0;
}

.iradio_square-blue.hover {
  background-position: -144px 0;
}

.iradio_square-blue.checked {
  background-position: -168px 0;
}

.iradio_square-blue.disabled {
  background-position: -192px 0;
  cursor: default;
}

.iradio_square-blue.checked.disabled {
  background-position: -216px 0;
}

/* HiDPI support */

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_square-blue,
  .iradio_square-blue {
    background-image: url(/images/vendor/icheck/skins/square/blue@2x.png?a59a8b68a79fdf444efa2f41b2b129ea);
    background-size: 240px 24px;
  }
}

/* iCheck plugin Square skin, orange
----------------------------------- */

.icheckbox_square-orange,
.iradio_square-orange {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(/images/vendor/icheck/skins/square/orange.png?c7cb1c271f9b7854fb309edbda22b3c4) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_square-orange {
  background-position: 0 0;
}

.icheckbox_square-orange.hover {
  background-position: -24px 0;
}

.icheckbox_square-orange.checked {
  background-position: -48px 0;
}

.icheckbox_square-orange.disabled {
  background-position: -72px 0;
  cursor: default;
}

.icheckbox_square-orange.checked.disabled {
  background-position: -96px 0;
}

.iradio_square-orange {
  background-position: -120px 0;
}

.iradio_square-orange.hover {
  background-position: -144px 0;
}

.iradio_square-orange.checked {
  background-position: -168px 0;
}

.iradio_square-orange.disabled {
  background-position: -192px 0;
  cursor: default;
}

.iradio_square-orange.checked.disabled {
  background-position: -216px 0;
}

/* HiDPI support */

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_square-orange,
  .iradio_square-orange {
    background-image: url(/images/vendor/icheck/skins/square/orange@2x.png?92eaa30c13076ecb4377bf1e10cd4f2a);
    background-size: 240px 24px;
  }
}

/* iCheck plugin Square skin, grey
----------------------------------- */

.icheckbox_square-grey,
.iradio_square-grey {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(/images/vendor/icheck/skins/square/grey.png?61c6b75504818dc260604c40283f9d2f) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_square-grey {
  background-position: 0 0;
}

.icheckbox_square-grey.hover {
  background-position: -24px 0;
}

.icheckbox_square-grey.checked {
  background-position: -48px 0;
}

.icheckbox_square-grey.disabled {
  background-position: -72px 0;
  cursor: default;
}

.icheckbox_square-grey.checked.disabled {
  background-position: -96px 0;
}

.iradio_square-grey {
  background-position: -120px 0;
}

.iradio_square-grey.hover {
  background-position: -144px 0;
}

.iradio_square-grey.checked {
  background-position: -168px 0;
}

.iradio_square-grey.disabled {
  background-position: -192px 0;
  cursor: default;
}

.iradio_square-grey.checked.disabled {
  background-position: -216px 0;
}

/* HiDPI support */

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_square-grey,
  .iradio_square-grey {
    background-image: url(/images/vendor/icheck/skins/square/grey@2x.png?c25143851d4ea84b873d2d420b0c5f09);
    background-size: 240px 24px;
  }
}

.ui-widget {
    font-family: 'Montserrat' !important;
    font-size: 1.0em;
}

/* primefaces overwrite */

.ui-button-text-only .ui-button-text{
	text-shadow: none;
}
/* end primefaces overwrite */
