<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:jee="http://www.springframework.org/schema/jee"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/tx 
		        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		        http://www.springframework.org/schema/context 
		        http://www.springframework.org/schema/context/spring-context-3.0.xsd
                http://www.springframework.org/schema/jee 
                http://www.springframework.org/schema/jee/spring-jee-3.0.xsd"
               >
 
	<context:property-placeholder location="classpath:email.properties" order="3" ignore-unresolvable="true" />
	<context:property-placeholder location="classpath:login.properties" order="3" ignore-unresolvable="true" />
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="${login.url}" />
		<property name="username" value="${login.username}" />
		<property name="password" value="${login.password}" />
		<property name="initialSize" value="5" />
		<property name="maxActive" value="5000" />
	</bean>
	
	<!-- 
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" >
    <property name="jndiName" value="ExampleDS"/>
	</bean> -->
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />

		<property name="mappingResources">
			<list>
				<value>com/wo/config/hibernate/LogLogin.hbm.xml </value>
				<!-- master -->
				
				<value>com/wo/config/hibernate/DocumentType.hbm.xml </value>
				<value>com/wo/config/hibernate/DocumentCategory.hbm.xml </value>
				<value>com/wo/config/hibernate/DocumentTopic.hbm.xml </value>
				<value>com/wo/config/hibernate/EmailTemplate.hbm.xml </value>
				<value>com/wo/config/hibernate/CounterType.hbm.xml </value>
				<value>com/wo/config/hibernate/CounterTypeDtl.hbm.xml </value>
				<value>com/wo/config/hibernate/Menu.hbm.xml </value>
				<value>com/wo/config/hibernate/ParameterHeader.hbm.xml </value>
				<value>com/wo/config/hibernate/ParameterDetail.hbm.xml </value>
				<value>com/wo/config/hibernate/Responsibility.hbm.xml </value>
				<value>com/wo/config/hibernate/ResponsibilityDetail.hbm.xml </value>
				
				<value>com/wo/config/hibernate/TmpRmd.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpRmdApproval.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpRmdDueDate.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpRmdPicFollowupEmail.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpRmdPicFollowupReschedule.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpRmdRegulation.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpRmdSupportingUnit.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpRmdCorrespondence.hbm.xml </value>
				
				<value>com/wo/config/hibernate/TrcRmd.hbm.xml </value>
				<value>com/wo/config/hibernate/TrcRmdDueDate.hbm.xml </value>
				<value>com/wo/config/hibernate/TrcRmdPicFollowupAttachment.hbm.xml </value>
				<value>com/wo/config/hibernate/TrcRmdPicFollowupEmail.hbm.xml </value>
				<value>com/wo/config/hibernate/TrcRmdRegulation.hbm.xml</value>
				<value>com/wo/config/hibernate/TrcRmdSupportingUnit.hbm.xml </value>
				<value>com/wo/config/hibernate/TrcRmdPicFollowup.hbm.xml </value>
				<value>com/wo/config/hibernate/TrcRmdCorrespondence.hbm.xml </value>
				
				
				<value>com/wo/config/hibernate/User.hbm.xml </value>
				<value>com/wo/config/hibernate/ReportType.hbm.xml </value>
				<value>com/wo/config/hibernate/Holiday.hbm.xml </value>
				<value>com/wo/config/hibernate/Regulation.hbm.xml </value>
				<value>com/wo/config/hibernate/RegulationAttachment.hbm.xml </value>
				<value>com/wo/config/hibernate/RegulationTrackRecord.hbm.xml </value>
				<value>com/wo/config/hibernate/RegulationApproval.hbm.xml </value>
				<value>com/wo/config/hibernate/RegulationMst.hbm.xml </value>
				<value>com/wo/config/hibernate/RegulationAttachmentMst.hbm.xml </value>
				<value>com/wo/config/hibernate/RegulationTrackRecordMst.hbm.xml </value>
				
				<value>com/wo/config/hibernate/SocializationTmp.hbm.xml </value>
				<value>com/wo/config/hibernate/SocializationDocumentTmp.hbm.xml </value>
				<value>com/wo/config/hibernate/SocializationTrc.hbm.xml </value>
				<value>com/wo/config/hibernate/SocializationDocumentTrc.hbm.xml </value>
				<value>com/wo/config/hibernate/SocializationApprovalTmp.hbm.xml </value>
				<value>com/wo/config/hibernate/SocializationRegulationTmp.hbm.xml </value>
				<value>com/wo/config/hibernate/SocializationRegulationTrc.hbm.xml </value>
				<value>com/wo/config/hibernate/SocializationPICComplianceTmp.hbm.xml </value>
				<value>com/wo/config/hibernate/SocializationPICComplianceTrc.hbm.xml </value>
				<value>com/wo/config/hibernate/SocializationPICFollowupTmp.hbm.xml </value>
				<value>com/wo/config/hibernate/SocializationPICFollowupTrc.hbm.xml </value>
		        <value>com/wo/config/hibernate/SocializationPICFollowupEmailTmp.hbm.xml </value> 
		        <value>com/wo/config/hibernate/SocializationPICFollowupEmailTrc.hbm.xml </value> 
		        <value>com/wo/config/hibernate/SocializationPICFollowupAttachmentTrc.hbm.xml </value> 
		        <value>com/wo/config/hibernate/SocializationPICFollowupRescheduleTmp.hbm.xml </value>
		        
		        <value>com/wo/config/hibernate/TmpCorrespondence.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpCorrespondenceApproval.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpCorrespondenceDocument.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpCorrespondencePicCompliance.hbm.xml </value>
		        <value>com/wo/config/hibernate/TmpCorrespondencePicFollowupEmail.hbm.xml </value> 
		        <value>com/wo/config/hibernate/TmpCorrespondencePicFollowupReschedule.hbm.xml </value>
		        <value>com/wo/config/hibernate/TmpCorrespondenceSupportingUnit.hbm.xml </value>
		        
		        <value>com/wo/config/hibernate/TrcCorrespondence.hbm.xml</value>
				<value>com/wo/config/hibernate/TrcCorrespondenceDocument.hbm.xml</value>
				<value>com/wo/config/hibernate/TrcCorrespondencePicCompliance.hbm.xml</value>
				<value>com/wo/config/hibernate/TrcCorrespondencePicFollowupAttachment.hbm.xml</value>
				<value>com/wo/config/hibernate/TrcCorrespondencePicFollowupEmail.hbm.xml</value>
				<value>com/wo/config/hibernate/TrcCorrespondenceSupportingUnit.hbm.xml</value>
				<value>com/wo/config/hibernate/TrcCorrespondencePicFollowupAttendance.hbm.xml</value>
				
				<!-- <value>com/wo/config/hibernate/SocializationTrc.hbm.xml</value> -->
				<value>com/wo/config/hibernate/SocializationRegulationTrc.hbm.xml</value>
				<value>com/wo/config/hibernate/SocializationPICComplianceTrc.hbm.xml</value>
				<value>com/wo/config/hibernate/SocializationPICFollowupTrc.hbm.xml</value>
		        <value>com/wo/config/hibernate/SocializationPICFollowupEmailTrc.hbm.xml</value> 
		        <value>com/wo/config/hibernate/SocializationPICFollowupRescheduleTrc.hbm.xml</value>
		        
		        <value>com/wo/config/hibernate/LogHeader.hbm.xml</value>
		        <value>com/wo/config/hibernate/LogDetail.hbm.xml</value> 
		        
				<value>com/wo/config/hibernate/TmpAttachments.hbm.xml</value> 
				
				<value>com/wo/config/hibernate/ComplianceReviewDocument.hbm.xml</value>
				<value>com/wo/config/hibernate/ComplianceReviewDocumentAttachment.hbm.xml</value>
				<value>com/wo/config/hibernate/ComplianceReviewDocumentPicCompliance.hbm.xml</value>
				
				<value>com/wo/config/hibernate/MstAudit.hbm.xml</value>
				
				<value>com/wo/config/hibernate/TmpAudit.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpAuditApproval.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpAuditDocument.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpAuditPicCompliance.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpAuditCheckPoint.hbm.xml </value>
		        <!--<value>com/wo/config/hibernate/TmpAuditPicFollowupAuditFindings.hbm.xml </value>--> 
		        <value>com/wo/config/hibernate/TmpAuditPicFollowupAuditFindingsTable.hbm.xml </value> 
		        <value>com/wo/config/hibernate/TmpAuditPicFollowupBankCommitment.hbm.xml </value> 
		        <!--<value>com/wo/config/hibernate/TmpAuditPicFollowupBankResponse.hbm.xml </value>--> 
		        <value>com/wo/config/hibernate/TmpAuditPicFollowup.hbm.xml </value> 
		        <value>com/wo/config/hibernate/TmpAuditPicFollowupEmail.hbm.xml </value>
		        <value>com/wo/config/hibernate/TmpAuditPicFollowupReschedule.hbm.xml </value>
		        <value>com/wo/config/hibernate/TmpAuditPicFollowupSupportingUnit.hbm.xml </value>
		        <value>com/wo/config/hibernate/TmpAuditPicFollowupRec.hbm.xml </value> 
		        <value>com/wo/config/hibernate/TmpAuditPicFollowupRecEmail.hbm.xml </value>
		        
		        <value>com/wo/config/hibernate/TrcAudit.hbm.xml</value>
				<value>com/wo/config/hibernate/TrcAuditDocument.hbm.xml </value>
				<value>com/wo/config/hibernate/TrcAuditPicCompliance.hbm.xml </value>
		        <!--<value>com/wo/config/hibernate/TrcAuditPicFollowupAuditFindings.hbm.xml </value>-->
		        <value>com/wo/config/hibernate/TrcAuditCheckPoint.hbm.xml </value>
		        <value>com/wo/config/hibernate/TrcAuditPicFollowupAuditFindingsTable.hbm.xml </value>
		        <value>com/wo/config/hibernate/TrcAuditPicFollowupBankCommitment.hbm.xml </value>
		        <!--<value>com/wo/config/hibernate/TrcAuditPicFollowupBankResponse.hbm.xml </value>-->
		        <value>com/wo/config/hibernate/TrcAuditPicFollowup.hbm.xml </value>
		        <value>com/wo/config/hibernate/TrcAuditPicFollowupExt.hbm.xml </value> 
		        <value>com/wo/config/hibernate/TrcAuditPicFollowupAttachment.hbm.xml </value> 
		        <value>com/wo/config/hibernate/TrcAuditPicFollowupEmail.hbm.xml </value>
		        <value>com/wo/config/hibernate/TrcAuditPicFollowupSupportingUnit.hbm.xml </value>
		        <value>com/wo/config/hibernate/TrcAuditPicFollowupRec.hbm.xml </value>
		        <value>com/wo/config/hibernate/TrcAuditPicFollowupRecEmail.hbm.xml </value>
		        <value>com/wo/config/hibernate/TrcAuditPicFollowupRecExt.hbm.xml </value> 
		        <value>com/wo/config/hibernate/TrcAuditPicFollowupRecAttachment.hbm.xml </value> 
		         
		        <value>com/wo/config/hibernate/OutgoingLetter.hbm.xml </value>
		        <value>com/wo/config/hibernate/OutgoingLetterAttachment.hbm.xml </value>
		        
		        <value>com/wo/config/hibernate/TmpComplianceReview.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpComplianceReviewApproval.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpComplianceReviewDocument.hbm.xml</value>
		        <value>com/wo/config/hibernate/TmpComplianceReviewPicCompliance.hbm.xml</value> 
		        <value>com/wo/config/hibernate/TmpComplianceReviewPicFollowup.hbm.xml</value>
		        <value>com/wo/config/hibernate/TmpComplianceReviewPicFollowupEmail.hbm.xml</value>
		        <value>com/wo/config/hibernate/TmpComplianceReviewPicFollowupFindings.hbm.xml</value>
		        <value>com/wo/config/hibernate/TmpComplianceReviewPicFollowupPoints.hbm.xml</value>
		        <value>com/wo/config/hibernate/TmpComplianceReviewPicFollowupReview.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpComplianceReviewPicFollowupReschedule.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpComplianceReviewPicFollowupRegulation.hbm.xml</value>
				
				<value>com/wo/config/hibernate/ComplianceReviewDocumentView.hbm.xml</value>
				<value>com/wo/config/hibernate/ComplianceReviewDocumentAttachmentView.hbm.xml</value>
				<value>com/wo/config/hibernate/ComplianceReviewDocumentPicComplianceView.hbm.xml</value>
				
				<value>com/wo/config/hibernate/OutgoingLetterView.hbm.xml </value>
		        <value>com/wo/config/hibernate/OutgoingLetterAttachmentView.hbm.xml </value>
		        
		        <value>com/wo/config/hibernate/TrcComplianceReview.hbm.xml</value>
				<value>com/wo/config/hibernate/TrcComplianceReviewDocument.hbm.xml</value>
		        <value>com/wo/config/hibernate/TrcComplianceReviewPicCompliance.hbm.xml</value> 
		        <value>com/wo/config/hibernate/TrcComplianceReviewPicFollowup.hbm.xml</value>
		        <value>com/wo/config/hibernate/TrcComplianceReviewPicFollowupEmail.hbm.xml</value>
		        <value>com/wo/config/hibernate/TrcComplianceReviewPicFollowupFindings.hbm.xml</value>
		        <value>com/wo/config/hibernate/TrcComplianceReviewPicFollowupPoints.hbm.xml</value>
		        <value>com/wo/config/hibernate/TrcComplianceReviewPicFollowupPointsAttachment.hbm.xml</value>
				<value>com/wo/config/hibernate/TrcComplianceReviewPicFollowupReview.hbm.xml</value>
				<value>com/wo/config/hibernate/TrcComplianceReviewPicFollowupRegulation.hbm.xml</value>
				
				<value>com/wo/config/hibernate/ReportGen.hbm.xml</value>
				<value>com/wo/config/hibernate/QA.hbm.xml</value>
				<value>com/wo/config/hibernate/QAKeyword.hbm.xml</value>
				<value>com/wo/config/hibernate/QACategory.hbm.xml</value>
				<value>com/wo/config/hibernate/QAAttachment.hbm.xml</value>
				<value>com/wo/config/hibernate/RC.hbm.xml</value>
				<value>com/wo/config/hibernate/Calendar.hbm.xml</value>
				<value>com/wo/config/hibernate/Article.hbm.xml</value>
				<value>com/wo/config/hibernate/ArticleTag.hbm.xml</value>
				<value>com/wo/config/hibernate/ArticleDocument.hbm.xml</value>
				<value>com/wo/config/hibernate/Faq.hbm.xml</value>
				<value>com/wo/config/hibernate/FaqKeyword.hbm.xml</value>
				<value>com/wo/config/hibernate/FaqDocument.hbm.xml</value>
				<value>com/wo/config/hibernate/StaticPage.hbm.xml</value>
				<value>com/wo/config/hibernate/DBCompliance.hbm.xml</value>
				<value>com/wo/config/hibernate/DBComplianceDoc.hbm.xml</value>
				<value>com/wo/config/hibernate/DBComplianceDueDate.hbm.xml</value>
				<value>com/wo/config/hibernate/Template.hbm.xml</value>
				<value>com/wo/config/hibernate/TemplateDocument.hbm.xml</value>
				<value>com/wo/config/hibernate/Notary.hbm.xml</value>
				<value>com/wo/config/hibernate/AboutUs.hbm.xml</value>
				<value>com/wo/config/hibernate/Division.hbm.xml</value>
				<value>com/wo/config/hibernate/Discussion.hbm.xml</value>
				<value>com/wo/config/hibernate/DiscussionPost.hbm.xml</value>
				
				<value>com/wo/config/hibernate/TmpFine.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpFineApproval.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpFineDocument.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpFinePicCompliance.hbm.xml </value>
				<value>com/wo/config/hibernate/TmpFinePicFollowup.hbm.xml </value>
		        <value>com/wo/config/hibernate/TmpFinePicFollowupEmail.hbm.xml </value> 
		        <value>com/wo/config/hibernate/TmpFinePicFollowupReschedule.hbm.xml </value>
		        
		        <value>com/wo/config/hibernate/TrcFine.hbm.xml</value>
				<value>com/wo/config/hibernate/TrcFineDocument.hbm.xml </value>
				<value>com/wo/config/hibernate/TrcFinePicCompliance.hbm.xml </value>
				<value>com/wo/config/hibernate/TrcFinePicFollowup.hbm.xml </value>
		        <value>com/wo/config/hibernate/TrcFinePicFollowupEmail.hbm.xml </value> 
		        <value>com/wo/config/hibernate/TrcFinePicFollowupAttachment.hbm.xml</value> 
		        <value>com/wo/config/hibernate/TrcFinePicFollowupHistory.hbm.xml</value> 
				<value>com/wo/config/hibernate/TrcFineAttachment.hbm.xml</value>
		        
		        <value>com/wo/config/hibernate/Advocate.hbm.xml</value>
		        <value>com/wo/config/hibernate/AdvocateInfo.hbm.xml</value>
		        <value>com/wo/config/hibernate/AdvocatePartners.hbm.xml</value>
		        
		        <value>com/wo/config/hibernate/Litigation.hbm.xml</value>
		        <value>com/wo/config/hibernate/LitigationPic.hbm.xml</value>
		        <value>com/wo/config/hibernate/LitigationProgressPerkara.hbm.xml</value>
		        <value>com/wo/config/hibernate/LitigationPihakPenggugatPemohon.hbm.xml</value>
		        <value>com/wo/config/hibernate/LitigationPihakTergugatTermohon.hbm.xml</value>
		        <value>com/wo/config/hibernate/LitigationPihakKuratorTurutTergugat.hbm.xml</value>
		        <value>com/wo/config/hibernate/LitigationPerdataTergugat.hbm.xml</value>
		        <value>com/wo/config/hibernate/LitigationPerdataInspectLevel.hbm.xml</value>
		        <value>com/wo/config/hibernate/LitigationPerdataPenggugat.hbm.xml</value>
		        <value>com/wo/config/hibernate/LitigationPailitPkpu.hbm.xml</value>
		        <value>com/wo/config/hibernate/LitigationPidanaPelapor.hbm.xml</value>
		        <value>com/wo/config/hibernate/LitigationPidanaTerlapor.hbm.xml</value>
		        <value>com/wo/config/hibernate/LitigationPutusanPengadilan.hbm.xml</value>

				<value>com/wo/config/hibernate/RegMonitoringApprovalTmp.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringDocumentTmp.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringDocumentTrc.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringPICComplianceTmp.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringPICComplianceTrc.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringPICFollowUpAttachmentTrc.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringPICFollowUpEmailTmp.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringPICFollowUpEmailTrc.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringPICFollowUpRescheduleTmp.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringPICFollowUpTmp.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringPICFollowUpTrc.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringRegulationTmp.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringRegulationTrc.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringTmp.hbm.xml</value>
				<value>com/wo/config/hibernate/RegMonitoringTrc.hbm.xml</value>
				
				<value>com/wo/config/hibernate/MstProvince.hbm.xml</value>
				<value>com/wo/config/hibernate/MstProvinceLocation.hbm.xml</value>
				
				<value>com/wo/config/hibernate/CompliancePlanSelfAssessment.hbm.xml</value>
				<value>com/wo/config/hibernate/CompliancePlanSelfAssessmentQuestion.hbm.xml</value>
				<value>com/wo/config/hibernate/CompliancePlanSelfAssessmentPic.hbm.xml</value>
				<value>com/wo/config/hibernate/CompliancePlanSelfAssessmentPicEmail.hbm.xml</value>
				<value>com/wo/config/hibernate/CompliancePlanSelfAssessmentAnswer.hbm.xml</value>
				<value>com/wo/config/hibernate/CpsaPicLockHistory.hbm.xml</value>
				<value>com/wo/config/hibernate/Announcement.hbm.xml</value>
				
				<value>com/wo/config/hibernate/TmpArticle.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpArticleDocument.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpArticleTag.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpArticleApproval.hbm.xml</value>
				
				<value>com/wo/config/hibernate/LogAccess.hbm.xml</value>
				<value>com/wo/config/hibernate/LogActivity.hbm.xml</value>
				
				<value>com/wo/config/hibernate/TmpFaq.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpFaqApproval.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpFaqDocument.hbm.xml</value>
				<value>com/wo/config/hibernate/TmpFaqKeyword.hbm.xml</value>
				
				<value>com/wo/config/hibernate/Country.hbm.xml</value>
				<value>com/wo/config/hibernate/EconomySector.hbm.xml</value>
				<value>com/wo/config/hibernate/Occupation.hbm.xml</value>
				
				<value>com/wo/config/hibernate/ComplianceTesting.hbm.xml</value>
				<value>com/wo/config/hibernate/ComplianceTestingDoc.hbm.xml</value>
				<value>com/wo/config/hibernate/ComplianceTestingDtl.hbm.xml</value>
				<value>com/wo/config/hibernate/ComplianceTestingPicFollowup.hbm.xml</value>
				<value>com/wo/config/hibernate/ComplianceTestingPicReview.hbm.xml</value>
							
				<value>com/wo/config/hibernate/InternalRegulationObsolete.hbm.xml</value>
				<value>com/wo/config/hibernate/InternalRegulationObsoletePicKonversi.hbm.xml</value>
				<value>com/wo/config/hibernate/InternalRegulationObsoletePicEmail.hbm.xml</value>

				<value>com/wo/config/hibernate/ComplianceTestingPICFollowupAttach.hbm.xml</value>
				<value>com/wo/config/hibernate/ComplianceTestingPICFollowupExt.hbm.xml</value>
				<value>com/wo/config/hibernate/ComplianceTestingPICFollowupEmail.hbm.xml</value>

				<value>com/wo/config/hibernate/InternalRegulationPenerbitan.hbm.xml</value>
				<value>com/wo/config/hibernate/InternalRegulationPenerbitanPicIrg.hbm.xml</value>
				<value>com/wo/config/hibernate/InternalRegulationPenerbitanPicTpg.hbm.xml</value>
				<value>com/wo/config/hibernate/InternalRegulationPenerbitanPicTpk.hbm.xml</value>
				<value>com/wo/config/hibernate/InternalRegulationPenerbitanPicTpgEmail.hbm.xml</value>
				<value>com/wo/config/hibernate/InternalRegulationPenerbitanPicTpkEmail.hbm.xml</value>
				<value>com/wo/config/hibernate/InternalRegulationPenerbitanAttachment.hbm.xml</value>
				
				<value>com/wo/config/hibernate/RunningNumber.hbm.xml</value>
				
				<value>com/wo/config/hibernate/TrcLock.hbm.xml</value>

			</list>
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
				<prop key="hibernate.show_sql">false</prop> 
		
		        <prop key="hibernate.c3p0.acquire_increment">1</prop>
		        <prop key="hibernate.c3p0.idle_test_period">60</prop>
		        <prop key="hibernate.c3p0.min_size">50</prop>
		        <prop key="hibernate.c3p0.max_size">800</prop>
		        <prop key="hibernate.c3p0.max_statements">50</prop>
		        <prop key="hibernate.c3p0.timeout">0</prop>
		        <prop key="hibernate.c3p0.acquireRetryAttempts">1</prop>
		        <prop key="hibernate.c3p0.acquireRetryDelay">250</prop>
		        <prop key="hibernate.c3p0.testConnectionOnCheckout">true</prop>
		        <prop key="hibernate.c3p0.preferredTestQuery">SELECT 1 from dual</prop>
		        <prop key="hibernate.use_sql_comments">false</prop>
		        
		        <!-- <prop key="hibernate.current_session_context_class">thread</prop>
		        <prop key="hibernate.jdbc.batch_size">40</prop>
		       	<prop key="hibernate.cache.use_second_level_cache">false</prop>
		     	<prop key="hibernate.cache.use_query_cache">false</prop>  -->
			</props>
		</property>
	</bean> 
	
	<!--  <bean id="dataSourceOrcl" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="${login.urlOrcl}" />
		<property name="username" value="${login.usernameOrcl}" />
		<property name="password" value="${login.passwordOrcl}" />
		<property name="initialSize" value="1" />
		<property name="maxActive" value="10" />
	</bean> -->
	
	<!-- <bean id="sessionFactoryOrcl" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceOrcl" />

		<property name="mappingResources">
			<list></list>
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
				<prop key="hibernate.show_sql">false</prop>
				
				<prop key="hibernate.c3p0.acquire_increment">1</prop>
		        <prop key="hibernate.c3p0.idle_test_period">60</prop>
		        <prop key="hibernate.c3p0.min_size">50</prop>
		        <prop key="hibernate.c3p0.max_size">800</prop>
		        <prop key="hibernate.c3p0.max_statements">50</prop>
		        <prop key="hibernate.c3p0.timeout">0</prop>
		        <prop key="hibernate.c3p0.acquireRetryAttempts">1</prop>
		        <prop key="hibernate.c3p0.acquireRetryDelay">250</prop>
		        <prop key="hibernate.c3p0.testConnectionOnCheckout">true</prop>
		        <prop key="hibernate.c3p0.preferredTestQuery">SELECT 1 FROM DUAL</prop>
		        <prop key="hibernate.use_sql_comments">false</prop>
			</props>
		</property>
	</bean>  -->
	
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">  
 		<property name="sessionFactory" ref="sessionFactory"/>
    </bean>  
    
    <!-- <bean id="transactionManagerOrcl" class="org.springframework.orm.hibernate5.HibernateTransactionManager">  
 		<property name="sessionFactory" ref="sessionFactoryOrcl"/>
 		<qualifier value="transactionOrcl"/>
    </bean>    -->
    
    <tx:annotation-driven  />
    <!-- <tx:annotation-driven transaction-manager="transactionManagerOrcl"  /> -->
	<context:component-scan base-package="com.wo.module"/>

</beans>
