<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 
     <display-name>compliance</display-name>
 		
    <context-param>
    <param-name>javax.faces.FACELETS_RESOURCE_RESOLVER</param-name>
    <param-value>com.wo.module.common.FaceletsResourceResolver</param-value>
	</context-param>
	
	<context-param>
	    <param-name>primefaces.LEGACY_WIDGET_NAMESPACE</param-name>
	    <param-value>true</param-value>
	</context-param>
	
	<context-param>
   		<param-name>com.sun.faces.autoCompleteOffOnViewState</param-name>
	   	<param-value>false</param-value>
 	</context-param>
	
 	<context-param>
	   	<param-name>com.sun.faces.enableViewStateIdRendering</param-name>
	   	<param-value>false</param-value>
 	</context-param>
		 			
	<!-- Spring Context Configuration' s Path definition -->
	<context-param>
	   <param-name>contextConfigLocation</param-name>
	   <param-value>
	   	/WEB-INF/applicationContext.xml
	 	 </param-value>
	</context-param>
	
	<context-param>
	   <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
	   <param-value>server</param-value>
	</context-param>

  
	<!-- The Bootstrap listener to start up and shut down Spring's root WebApplicationContext. It is registered to Servlet Container -->
	<listener>
	  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
	  <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
	  <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	
	
	<!-- JSF Servlet is defined to container -->
	<servlet>
	  <servlet-name>Faces Servlet</servlet-name>
	  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	  <load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Mapping with servlet and url for the http requests. -->
	 <servlet-mapping>
	  <servlet-name>Faces Servlet</servlet-name>
	  <url-pattern>*.jsf</url-pattern>
	</servlet-mapping> 
	 <servlet-mapping>
	  <servlet-name>Faces Servlet</servlet-name>
	  <url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	 <servlet-mapping>
	  <servlet-name>Faces Servlet</servlet-name>
	  <url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Initializer</servlet-name>
		<servlet-class>com.wo.module.engine.Initializer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
        <servlet-name>imgservlet</servlet-name>
        <servlet-class>com.wo.module.common.util.DisplayImage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>imgservlet</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
	
	<!-- Project Stage Level -->
	<context-param>
	  <param-name>javax.faces.PROJECT_STAGE</param-name>
	  <param-value>Development</param-value>
	</context-param>
	<!-- start added by robbin (to solve convertDateTime renders the previous day)-->
	<context-param>
	    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
	    <param-value>true</param-value>
	</context-param>
	<!-- end added by robbin -->

	
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	
	<filter>
    <filter-name>GzipFilter</filter-name>
    <filter-class>com.whiteopen.web.util.gzip.GZIPFilter</filter-class>
	</filter>
	  <filter-mapping>
	    <filter-name>GzipFilter</filter-name>
	    <url-pattern>*.jsf</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>GzipFilter</filter-name>
	    <url-pattern>*.js</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>GzipFilter</filter-name>
	    <url-pattern>*.css</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>GzipFilter</filter-name>
	    <url-pattern>*.xhtml</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>GzipFilter</filter-name>
	    <url-pattern>*.jsp</url-pattern>
	  </filter-mapping>
	
	<error-page>
	    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
	    <location>/pages/login/login.faces</location>
	</error-page>
	
	<!-- Session Configuration -->
	<session-config>
	        <session-timeout>60</session-timeout>
	</session-config>
	
	<!-- File Restriction -->
	<security-constraint>
	    <display-name>Restrict direct access to certain files</display-name>
	    <web-resource-collection>
	        <web-resource-name>XHTML files</web-resource-name>
	        <url-pattern>*.xhtml</url-pattern>
	        <web-resource-name>XML files</web-resource-name>
	        <url-pattern>*.xml</url-pattern>
	    </web-resource-collection>
	    <auth-constraint />
	</security-constraint>
	
</web-app>